<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaraunt Order</title>

    <!-- LINKING BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/JSfiles/infores.js"></script>

    <link rel="stylesheet" href="/CSS/inforestaraunt.css">
</head>
<body>
    <div id="strip">
    <a class="btn btn-danger" id="logout" href="/logout">Logout</a>
    </div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="item col-8">
                {{#each selectedRes as |res|}}
                    <div>
                        <br>
                        <img src="{{res.Image}}" width="250px" id="resimage">
                        <h2 id="ResName">{{res.Name}}</h2>
                        <h6>{{res.FoodType}}</h6>
                        {{res.Rating}}⭐
                    </div>
                    <br><br>
                    <div class="menu">
                        <h3 id="menuhead"><u>Menu</u></h3><br>
                        {{#if res.Menu.Breakfast}}
                            <h2>BREAKFAST</h2>
                            <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                            {{#each res.Menu.Breakfast as |menu|}}
                                    <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success add" data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table>
                        {{/if}}
                        {{#if res.Menu.MainCourse}}
                            <h2>MAIN COURSE</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                            {{#each res.Menu.MainCourse as |menu|}}
                        
                                    <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success add" data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table> 
                        {{/if}}
                        {{#if res.Menu.Rice}}
                            <h2>RICE</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                            {{#each res.Menu.Rice as |menu|}}
                                    <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}}&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success add" data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table>
                        {{/if}}
                        {{#if res.Menu.Breads}}
                            <h2>BREADS</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                            {{#each res.Menu.Breads as |menu|}}
                                <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}}&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success add" data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table>
                        {{/if}}
                        {{#if res.Menu.Desserts}}
                           <h2>DESSERTS</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                            {{#each res.Menu.Desserts as |menu|}}
                                    <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}}&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success add"  data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table>
                        {{/if}}
                        {{#if res.Menu.Beverages}}
                            <h2>BEVERAGES</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                            {{#each res.Menu.Beverages as |menu|}}
                                 <tbody>
                                        <tr>
                                            <td>{{menu.name}}</td>
                                            <td>₹{{menu.price}}&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success add" data-name="{{menu.name}}" data-price={{menu.price}}>Add</button></td>
                                        </tr>                                       
                                    </tbody>
                            {{/each}}
                            </table>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            
            <div class="item col-4" id="cartside">
                <div id="order">
                    <h4 id="orderhead">Your Orders</h4>
                    <hr>
                    
                </div>
                <span id="pricing">
                    Subtotal:
                    <span id="subtotal">
                    
                    </span>
                    <br><br>
                    <span id="total">
                        Total:
                        <span id="totalam"></span><br>(plus tax)
                    </span>
                    <br>
                    <span id="discount">
                        <!-- Button trigger modal -->
                        <button type="button"  id="Coupon" class="btn btn-danger" data-toggle="modal" data-target="#Couponscode">
                        Coupons
                        </button>
                        <br><br>
                        Discounted Total:
                        <span id="Discountedt"></span>
                        <div id="ntotal"></div>
                        <div id="applied"></div>
                    </span><br>
                    <button class="btn btn-success" id="confirm">Confirm</button>
                </span>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="Couponscode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Available Coupons</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="myModal">
                    <ul id="couponslist">
                        <li>NEW50</li>
                        <li>FIRST</li>
                    </ul>
                    <br><br>
                    <input placeholder="Enter PROMO CODE" id="code">
                    <button class="btn btn-secondary close" id="apply" data-dismiss="modal" aria-label="Close">APPLY</button>
                </div>
                
            </div>
        </div>
        </div>
    </div>
</body>
</html>
